<script>window.celestaColor = null;</script>
<fieldset class="admin__field" attr="'data-index': index">
    <label class="admin__field-label">
        <span text="label"/>
    </label>

    <div class="admin__field-control">
        <span class="admin__field celesta-calendar-color" outereach="options">
            <input type="radio"
                   onclick="javascript:(function(e){if(window.celestaColor===e){e.checked=false;window.celestaColor=null;}else{window.celestaColor=e;}})(this)"
                   ko-checked="$parent.value"
                   attr="
                value: value,
                title: $data.title,
                style: 'background-color:' + $data.color + ';'
            "/>
        </span>

        <div class="admin__field-note" if="$data.notice" attr="id: noticeId">
            <span html="notice"/>
        </div>

        <div class="admin__additional-info" if="$data.additionalInfo" html="$data.additionalInfo"></div>
    </div>
</fieldset>
