.celesta-form-datetime {
    margin-top: -10px !important;
}
.celesta-form-datetime {
    margin-bottom: 25px !important;
    border: 1px solid #e3e3e3 !important;
}
.celesta-form-datetime .fieldset-wrapper-title {
    margin: 0 !important;
    background-color: #f1f1f1 !important;
}
.celesta-form-datetime .admin__control-grouped-date > .admin__field-date:first-child .admin__field-label,
.celesta-form-datetime .admin__fieldset-wrapper-content .admin__fieldset > .admin__field:last-child .admin__field-control{
    margin-left: 20px !important;
}
.celesta-form-datetime .admin__control-grouped-date > .admin__field-date:nth-child(2) .admin__field-control,
.celesta-form-datetime .admin__control-grouped-date > .admin__field-date:nth-child(2) .admin__field-control > input {
    width: 10rem !important;
}
.celesta-form-datetime .admin__control-grouped-date > .admin__field-date:nth-child(2) .admin__field-control > .ui-datepicker-trigger:after {
    width: 30px;
    content: '\e62e' !important;
}
.celesta-form-datetime .admin__control-grouped-date > .admin__field-date:last-child .admin__field-label {
    min-width: 60px;
    margin-right: 10px !important;
}
.admin__field.celesta-calendar-color > input {
    width: 33px !important;
    height: 33px !important;
    display: inline-block !important;
    border: none !important;
    border-radius: 17px !important;
}
.admin__field.celesta-calendar-color > input:checked:after {
    margin-top: -6px !important;
    margin-left: -11px !important;
    content: '\e62d' !important;
    font-size: 20px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    background-color: transparent !important;
}
