.celesta_green {
    color: #093;
    font-weight: bold;
}
.celesta_red {
    color: #e22626;
    font-weight: bold;
}
.celesta_gray {
    color: #999;
    font-weight: bold;
}
/* Notifications */
.celesta_event_block > div,
.celesta_attendees_summary,
.celesta_event_header,
.celesta_event_attendance_header,
.attendee_answer_request label,
.celesta_current_replies,
.celesta_event_description_table,
.celesta_attendees_summary_table,
.celesta_attendees_answer_table {
    line-height: 1.5;
}
.celesta_event_attendance_header {
    margin-bottom: 5px;
    font-weight: bold;
}
.celesta_event_hr{
    border: none;
    border-top: 1px dotted #d1d1d1;
}
.attendee_answer_request, .attendee_answer_result, span[id^=celesta_attendee_answer_block_] {
    display: inline-block;
}

/* Attendance system block */
.celesta_attendance_system_block .celesta_event_description_table {
    border-right: 1px dotted #adadad;
}
.celesta_event_header {
    vertical-align: top;
}
.celesta_attendees_answer_table td {
    white-space: nowrap;
}
.celesta_event_description_table,
.celesta_attendees_summary_table,
.celesta_attendees_answer_table {
    max-width: 45%;
    margin-right: 10px;
    border: none;
    border-spacing: 5px;
    border-collapse: collapse;
    display: inline-block;
}
.celesta_event_header,
.celesta_event_description_table,
.celesta_attendees_summary_table,
.celesta_attendees_answer_table,
.celesta_event_description_table td,
.celesta_attendees_summary_table td,
.celesta_attendees_answer_table td,
span[id^=celesta_attendee_answer_block_] {
    vertical-align: top;
}
.celesta_event_description_table td,
.celesta_attendees_summary_table td,
.celesta_attendees_answer_table td {
    padding-right: 15px;
}
.celesta_event_description_table th,
.celesta_attendees_summary_table th,
.celesta_attendees_answer_table th {
    text-align: left;
}
/* Attendance request block */
.celesta_attendees_answer_table input[type="number"],
.celesta_attendees_answer_table textarea {
    border: 1px solid #adadad;
}
.celesta_attendees_answer_table input[type="number"] {
    width: 50px;
}
.celesta_attendees_answer_table textarea {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    margin-top: 5px;
    min-width: 250px;
}
/* Attendance reply/summary block */
.celesta_replies_ok {
    position: absolute;
}