<div data-mage-init='{"floatingHeader": {}}' class="page-actions">
    <?php echo $block->getBackButtonHtml() ?>
    <?php echo $block->getResetButtonHtml() ?>
    <span class="hidden" id="formButtons">
        <?php echo $block->getSaveButtonHtml() ?>
    </span>
</div>
<div class="hidden" id="formContainer">
    <?php echo $block->getFormHtml() ?>
</div>
<script>
require([
    "jquery",
    "mage/mage",
    "mage/backend/form",
    "mage/backend/validation"
], function($){

   $('#edit_form').mage('form').mage('validation');

});
</script>
