<?php
/** @var $block \Celesta\AdvancedGoogleCalendar\Block\Adminhtml\AttendeeAction */
$eHash = $block->getAttendee()->getId();
?>
<div class="celesta_attendance_system_block">
    <?= $block->getEventContent() ?>
    <table class="celesta_attendees_answer_table" id="celesta_attendees_answer_table_<?= $eHash ?>">
        <tr>
            <td><label><input name="celesta_attendee_answer_<?= $eHash ?>" value="accepted" type="radio"> <?= __('Yes') ?></label></td>
            <td rowspan="4" style="text-align:right;">
                + guests <input name="celesta_attendee_guests_<?= $eHash ?>" type="number" min="0" max="99" title="<?= __('Number of guests') ?>" disabled><br>
                <textarea name="celesta_attendee_note_<?= $eHash ?>" placeholder="<?= __('Add note') ?>"></textarea>
            </td>
            <td rowspan="4"><button id="celesta_attendee_click_<?= $eHash ?>" disabled>Confirm</button></td>
        </tr>
        <tr>
            <td><label><input name="celesta_attendee_answer_<?= $eHash ?>" value="tentative" type="radio"> <?= __('Maybe') ?></label><br></td>
        </tr>
        <tr>
            <td><label><input name="celesta_attendee_answer_<?= $eHash ?>" value="declined" type="radio"> <?= __('No') ?></label><br></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    </table>
    <span style="display:none;" id="celesta_attendee_answer_block_<?= $eHash ?>"></span>
    <div></div>
</div>
<script>
    require([
        'jquery'
    ], function ($) {
        var h = '<?= $eHash ?>';
        $('input[name="celesta_attendee_answer_' + h + '"]').on('change', function () {
            $('#celesta_attendee_click_' + h).prop('disabled', false);
            $('input[name="celesta_attendee_guests_' + h + '"]').prop('disabled', this.value !== 'accepted');
        });
        $('#celesta_attendee_answer_block_' + h).on('click', 'a', function (e) {
            $(this).parent().hide();
            $('#celesta_attendees_answer_table_' + h).show();
        });
        $('#celesta_attendee_click_<?php echo $eHash ?>').on('click', function () {
            var data = {
                    event_attendee_hash: '<?= $eHash ?>',
                    response_status: $('input[name="celesta_attendee_answer_' + h + '"]:checked').val(),
                    additional_guests: $('input[name="celesta_attendee_guests_' + h + '"]').val(),
                    comment: $('textarea[name="celesta_attendee_note_' + h + '"]').val()
                },
                content = function () {
                    var t = {
                        'accepted': '<span class="celesta_green"><?= __('Yes, I&apos;m going') ?></span>',
                        'tentative': '<span class="celesta_gray"><?= __('I might go') ?></span>',
                        'declined': '<span class="celesta_red"><?= __('No, I&apos;m not going') ?></span>'
                    }, msg = t[data.response_status];
                    if (data.additional_guests > 0 && data.response_status === 'accepted')
                        msg += ' (+' + data.additional_guests + ' guests)';
                    if (data.comment) msg += ' "' + data.comment + '"';
                    msg += ' <a href="#" onclick="return false;"><?= __('Change your response') ?></a>';
                    return msg;
                };
            $.ajax({
                url: '<?php echo $block->getFormUrl() ?>',
                type: 'POST',
                data: data,
                success: function (data) {
                    if (data.success) {
                        $('#celesta_attendees_answer_table_' + h).hide();
                        $('#celesta_attendee_answer_block_' + h).html(content()).show();
                    } else {
                        alert(data.errorMessage);
                    }
                },
                error: function (jqXHR, textStatus) {
                    alert(textStatus);
                }
            });
        });
    });
</script>
