<?php
/** @var $block \Celesta\AdvancedGoogleCalendar\Block\Adminhtml\AttendeeReply */
$hash = md5($block->getEvent()->getOrganizer()->getId() . $block->getEvent()->getId() . mt_rand());
?>
<div class="celesta_attendance_system_block" data-block-id="<?= $hash ?>">
    <?= $block->getEventContent() ?>
    <?= $block->getAttendeesSummary() ?>
    <button id="celesta_replies_ok_<?= $hash ?>" class="celesta_replies_ok"
            data-hashes="<?= implode(',', $block->getEventAttendeeHashes()) ?>">
        OK
    </button>
</div>
<script>
    require([
        'jquery'
    ], function ($) {
        $('#celesta_replies_ok_<?= $hash ?>').on('click', function () {
            $.ajax({
                url: '<?= $block->getFormUrl() ?>',
                type: 'POST',
                data: {hashes: $(this).data('hashes')},
                success: function (data) {
                    if (data.success) {
                        $('div[data-block-id="<?= $hash ?>"]').html('<?= __('Marked as read') ?>');
                    } else {
                        alert(data.errorMessage);
                    }
                },
                error: function (jqXHR, textStatus) {
                    alert(textStatus);
                }
            });
        });
    });
</script>
